/*Tab features*/
.nav-link{
    background-color: none;
    border-radius: .5rem;
    margin-bottom: 1%;
    font-size: 1.5em;
}

.nav-link:hover{
    background: linear-gradient(90deg, #D16BA5 30%, #86A8E7, #5FFBF1) !important;
    color: #fff !important;
}

.nav-link.active{
    background: linear-gradient(90deg, #D16BA5 30%, #86A8E7, #5FFBF1) !important;
    color: #fff !important;
}

.nav-item a:visited, a:link{
    color: #D16BA5;
}

.Offcanvas-portfolio-mobile{
    background-color: #333333;
}

.Tab-heading{
    margin: 5% 0;
    color: #fff;
}

.Card-css{
    background-color: #333333;
}

.card-header, .card{
    border: none;
    padding-bottom: 2%;
}

.Tab-image{
    border-color: #fff;
    border-radius: 5px;
    border-width: 10%;
    border-style: solid;
    margin: 3% 0;
}

.Tab-list{
    margin: 0;
    padding-bottom: 5%;
}

.Tab-mobile-display{
    height: 20px;
}

.Tab-longcut{
    background-color: #3F7802!important;
    border-radius: 5px;
}

.Tab-soulcentered{
    background-color: #1C9AD6 !important;
    border-radius: 5px;
}

.Portfolio-button{
    background-color: #fff;
    
    text-decoration: none;
    border-color: #fff;

}

.Portfolio-button:hover{
    color: #fff;
    background: linear-gradient(90deg, #D16BA5 30%, #86A8E7, #5FFBF1) !important;
    border-color: #fff;
}

.Portfolio-button a {
    color: #D16BA5;
    text-decoration: none;
}

.Portfolio-button a:hover{
    color: #fff;
}

