ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 3% 0;
}

 @supports (backdrop-filter: blur(5em)) {
    .Navbar-background{
        background: hsl(0 0% 100% .01);
        backdrop-filter: blur(5em);
    }
}
.Nav-Offcanvas{
    background-color: #333333;
}

.Brand-name-nav, .Brand-name-offcanvas{
    background: linear-gradient(90deg, #D16BA5 30%, #86A8E7, #5FFBF1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding-right: 7rem;
}

.Brand-name:hover{
    color: #fff;
}
.nav-item{
    color: #fff;
    font-size: 1.3rem;
}

.nav-item a{
    color: #D16BA5;
    text-decoration: none;
   }

.nav-item:hover{
    color: #D16BA5;
}

.nav-item a:visited{
    color: #D16BA5;
}


.icon-Nav{
    color: #fff !important;
    font-size: 1.7em;
    padding: 0 10% 0 0;
}

.icon-Nav:hover {
    color: #D16BA5 !important;
}

.Nav-offcanvas{
    font-size: 175%;
    color: #fff;
    border: none;
    background-color: transparent;
}

.Nav-offcanvas:hover{
    color: #D16BA5;
}

.offcanvas-full{
    width: 200%;
}

@media (max-width:480px){
    .Brand-name-offcanvas{
        padding: 0 3.99em 0 0;
    }
    .Brand-name-nav{
        padding: 0;
    }
}